body{
    background: #cccccc;
}
/* css para una etiqueta de HTML */

#banner{ 
    width: 100%;
}
/* Css utilizando ID */

h1{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: red;
}

.mision{
    font-size: 20px;
}
/* css utilizando ID */

.items{
    font-style: italic;
}