header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caja{
    position: relative;
    width: 70%;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; /*arriba, derecha, abajo, izquierda */
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline  ;
}

#banner{ 
    width: 100%;
}/* Css utilizando ID */

.principal{
    background: #cccccc;
    padding: 20px;
}

.titleCenter{
    text-align: center;
}

p{
    text-align: center;
}/* css para una etiqueta de HTML */

em strong{
    color: red;
}

.mision{
    font-size: 20px;
}
/* css utilizando ID */

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 10%;
}

.imgDiferenciales{
    width: 50%;
}