.headerPrincipal .container{
    display: flex; /* Hace que los componentes de pongan en linea */
    align-items: center;
    justify-content: space-between; /* genera un espacio entre los componentes */
}

.headerPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;

}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column; /*Cambia a la alimiacion en columnas*/
    height: 255px;
    flex-wrap: wrap; /*Hace que al llegar a la altura maxima salte de columna*/
}